
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    height: auto;
    width: 350px;
    background-color: #2c2c2c;
    border: 2px solid rgba(0, 0, 0, 0.393);
    border-radius: 10px;
    position: relative;
}

.close {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

#circle1 {
    background-color: red;
}

#circle2 {
    background-color: orange;
}

#circle3 {
    background-color: green;
}

.output {
    height: 15vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    font-size: 4rem;
    
}

.input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9px;
    
}

.input input {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border: none;
    background-color: #606060;
    color: white;
}


.zero {
    grid-column: span 2;
    border-bottom-left-radius: 9px;
}

.equal {
    border-bottom-right-radius: 9px;

}
.yellow{
    background-color: #cb7e23;
}
